@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&family=Roboto:wght@300&display=swap');

body{
    width:100%;
    height:1500px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding:0px;
    padding-top:80px;
    background-color: rgb(249, 249, 249);
}

header{
    position: fixed;
    top:0;
    background-color: white;
    height:auto;
    box-shadow: rgba(215, 214, 214, 0.15)4px 8px 8px;
}
.left{
    margin:auto;
}
.left img{
    width:32px;
    height:32px;
    border-radius: 2rem;
}
.right{
    display:flex;
    margin:auto;
}
.container{
    padding:0 10vw;
}

nav{
    width:80vw;
    padding-top: 18px;
    font-size:14px;
    padding-bottom:18px;

}
nav ul li{
    list-style: none;
    padding:0 13px;
}

.searchBar{
    width: 26vw;
    border: .5px solid grey;
    padding: 9px 8px;
    border-radius: 5px;
    background-color: whitesmoke;
}
.sec1 img{
    width: 100%;
    height: 100%;
}
.itemsimg{
    width:14.28%;
}
.sec3 img{
    width:14.28%;
    height:14.28%;
}
.sec4 img{
    width:16.66%;
    height:16.66%;
}
.fifty img{
    width:50%;

}